.grid{
    border: 1px solid #000;
    padding: 20px;
}

.parent{
    display: grid;

    grid-template-areas:

    'header header header'
    'left center right'
    'footer footer footer';
}

div1{
    grid-area: footer;
}
div2{
    grid-area: footer;
}
div3{
    grid-area: footer;
}
div4{
    grid-area: footer;
}
div5{
    grid-area:footer;
}